
{% extends 'landing_base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row min-vh-100 flex-center no-gutters">
      <div class="col-lg-8 col-xxl-5 py-3">
        <img class="bg-auth-circle-shape" src="{% static 'assets/img/icons/bg-shape.png' %}" alt="" width="250">
        <img class="bg-auth-circle-shape-2" src="{% static 'assets/img/icons/shape-1.png' %}" alt="" width="150">
        <div class="card overflow-hidden z-index-1">
          <div class="card-body p-0">
            <div class="row no-gutters h-100">
              <div class="col-md-5 text-white text-center bg-primary">
                <div class="position-relative p-4 pt-md-5 pb-md-7">
                  <div class="bg-holder bg-auth-card-shape" style="background-image:url(({% static 'assets/img/icons/half-circle.png' %});">
                  </div>
                  <!--/.bg-holder-->

                  <div class="z-index-1 position-relative"><a class="text-white mb-4 text-sans-serif font-weight-extra-bold fs-4 d-inline-block" href="{% url 'landing' %}">PreDoc</a>
                    <p class="text-white opacity-75">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur sint eos eius quae praesentium dignissimos?</p>
                  </div>
                </div>
                <div class="mt-3 mb-4 mt-md-4 mb-md-5">
                  <p class="mb-0 mt-4 mt-md-5 fs--1 font-weight-semi-bold text-white opacity-75">Read our <a class="text-underline text-white" href="{% url 'terms_condition' %}">terms</a> and <a class="text-underline text-white" href="{% url 'privacy_policy' %}">conditions </a></p>
                </div>
              </div>
              <div class="col-md-7 d-flex flex-center">
                <div class="p-4 p-md-5 flex-grow-1">
                  <h3 class="text-primary">Forget  password</h3>
                  <form class="mt-3" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="card-reset-password" class="text-dark">Email</label>
                      <!-- <input class="form-control" type="password" name ="email" placeholder="Enter Your Email" /> -->
                      {{password_reset_form.email}}
                    </div>
                    
                    <button class="btn btn-outline-primary btn-block mt-3" type="submit" name="submit">Send Email</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

