
{% extends 'landing_base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">

      <div class="row min-vh-100 flex-center no-gutters">
        <div class="col-lg-8 col-xxl-8 py-3">
          <div class="card overflow-hidden z-index-1">
            <div class="card-body p-0">
              <div class="row no-gutters h-100">
                <div class="col-md-5 text-white text-center accounts-card-bg">
                  <div class="position-relative p-4 pt-md-5 pb-md-7">
                    <div class="bg-holder bg-auth-card-shape" style="background-image:url({% static 'assets/img/icons/half-circle.png' %});">
                    </div>
                    <!--/.bg-holder-->
                    <div class="z-index-1 position-relative"><a class="text-white mb-4 text-sans-serif font-weight-extra-bold fs-4 d-inline-block" href="{% url 'landing' %}">PreDoc</a>
                      <p class="text-white opacity-75">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur sint eos eius quae praesentium dignissimos?</p>
                    </div>
                  </div>
                  <div class="mt-3 mb-4 mt-md-4 mb-md-5">
                    <p>Don't have an account?<br><a class="text-white text-underline" href="{% url 'sign_up' %}">Get started!</a></p>
                    <p class="mb-0 mt-4 mt-md-5 fs--1 font-weight-semi-bold text-white opacity-75">Read our <a class="text-underline text-white" href="{% url 'terms_condition' %}">terms</a> and <a class="text-underline text-white" href="{% url 'privacy_policy' %}">privacy policy </a></p>
                  </div>
                </div>
                <div class="col-md-7 d-flex flex-center">
                  <div class="p-4 p-md-5 flex-grow-1">
                    {% include 'accounts/messages.html' %}
                    
                    <h2 class="text-heading">Account Login</h2>
                    <form method="POST"  >
                     
                      {% csrf_token %}
                      <div class="form-group mt-2">
                        <label class="text-heading" for="card-email">Email</label>
                        <!-- <input class="form-control" required name="username" type="text" /> -->
                        {{loginform.email}}
                      </div>
                      <div class="form-group mt-2">
                        <div class="d-flex justify-content-between">
                          <label class="text-heading" for="card-password">Password</label><a class="fs--1 text-heading" href="{% url 'forget_password' %}">Forgot Password?</a>
                        </div>
                        {{loginform.password}}
                        <!-- <input class="form-control" required name="password" type="password" /> -->
                      </div>        
                      <div class="custom-control custom-checkbox mt-2">
                        <input class="custom-control-input" type="checkbox" id="card-checkbox" checked="checked" />
                        <label class="custom-control-label text-heading" for="card-checkbox">Remember me</label>
                      </div>
                      <div class="form-group mt-2">
                        <button class="btn btn-outline-primary btn-block" type="submit" name="submit">Log in</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endblock content %}