

<div class="modal-body">
    <div class=" text-heading">
      <h2 class="text-heading">Current Patient</h2>
      <h4 class=" mt-4 text-dark">{{ appoinments.patient.first_name }} {{ appoinments.patient.last_name }}</h4>
      <h4 class="text-dark"> {{ appoinments.patient.dob }}</h4>
      <h4 class="text-dark">{{ appoinments.patient.age }} Years Old {{appoinments.patient.gender}}</h4> 
    </div>
    <div class="mt-4 ">
      <div class="col col-lg-12 ">
        <div class="border overflow-auto bg-ldight user-inner-text" style="height:40%">
          <div class="mx-4 p-2">
            {% for i in appoinments.qs.syptoms.form_response.answers %}
              <p class="h5 text-capitalize my-4">{{ i.text }}</p>
              <p class="h5 text-capitalize my-4">{{ i.boolean }}</p>
            {% endfor %}
          </div>
        </div>
        <div class="mt-4">
          <p class="h6">
            <span class="text-heading border-bottom border-white">Question and Answere</span> - 
                view the original phrasing and answers                                
            </p>
        </div>
      </div>
    </div>
</div>




