

<div class="modal-body">
    <div class=" text-heading">
        <h2 class="text-heading">Current Patient</h2>
        <h4 class=" mt-4 text-dark">{{ appoinments.patient.first_name }} {{ appoinments.patient.last_name }}</h4>
        <h4 class="text-dark"> {{ appoinments.patient.dob }}</h4>
        <h4 class="text-dark">{{ appoinments.patient.age }} Years Old {{appoinments.patient.gender}}</h4> 
      </div>
    <div class="mt-4 ">
          <div class="col col-lg-12 ">
              <div class="border overflow-auto bg-ldight user-inner-text" style="height:40%">
                <div class="mx-4 p-2">
                    <p class="h5 text-capitalize my-4">{{ appoinments.qs.syptoms }}</p>
                    <!-- <p class="h5 text-capitalize my-4">PC</p>
                    <p class="h5 text-uppercase mt-4">hpc</p>
                    <p class="h6 my-2" >Sudden onset</p>
                    <p class="h6 my-2" >" I was at work lifting a Tesla tyre and felt my back go "</p>
                    <p class="h6 my-2" >left sided.</p>
                    <p class="h6 my-2" >lumbar</p>
                    <p class="h6 my-2" >no radiculopathy</p>
                    <p class="h5 text-uppercase mt-4">Pmh</p>
                    <p class="h6 my-2" >Lumbar discectomy 2016, Dr. Matt Rackham, Ashford Hospital</p>
                    <p class="h6 my-2" >Hypertension</p>
                    <p class="h6 my-2" >Hypercholesterolaemia</p>
                    <p class="h6 my-2" >Autism Spectrum Disorder</p>
                    <p class="h5 text-uppercase mt-4">Medications</p>
                    <p class="h6 my-2" >Perindopril 5mg mane</p>
                    <p class="h6 my-2" >Rosuvastatin 40mg mane</p> -->
                  </div>
              </div>
              <div class="mt-4">
                <p class="h6">
                    <span class="text-heading border-bottom border-white">Question and Answere</span> - 
                    view the original phrasing and answers                                
                </p>
              </div>
          </div>
      </div>
  </div>




