

.contact-image {
  width: 45px;
  height: 45px;
  filter: 
    /* hue-rotate(220deg) */
    drop-shadow(2px 4px 4px #0006);
  transition: 0.2s;
  user-select: none;
}

.contact-image:hover {
  transform: scale(1.1, 1.1);
}

.contact-image:active {
  transform: scale(1.1, 1.1);
  filter: 
    hue-rotate(220deg)
    drop-shadow(2px 4px 4px #222)
    sepia(0.3);
}
