.user-inner-text{
    height: 20%;
}


  .results tr[visible='false'],
  .no-result{
    display:none;
  }

  .results tr[visible='true']{
    display:table-row;
  }

  .counter{
    padding:8px; 
    color:#ccc;
  }
.custom_table {
font-size: 15px;
height: 50%;
overflow-y: scroll;

}
.chat {
  display:inline-block;
  padding:5px 6px 8px 6px;
  border-radius: 6px;
  margin-right: 40px;
  color:black;
  position: relative;
}

.chat:after {
  content: "";
  position:absolute;
  margin-top:-31px;
  margin-left:-5px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid white;
  /* transform:rotate(-45deg); */
  right: 20px; 
  top: 20px;
}
.left-modal{
  margin-left: 60%;
  top: 50px;
}
.custom_table::-webkit-scrollbar {
display: none;
} 
.no_found_image{
  width: 300px;
}
.hide{
  display: none;
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 2s;
  animation-name: animatebottom;
  animation-duration: 2s;
}


@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}



#loading-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,0.75)  no-repeat center center;
  z-index: 10000; 
}

#loader {
color: white;
font-size: 10px;
top: 45%;
left: 50%;
right: 0;
bottom: 0; 
width: 8px;
height: 8px;
border-radius: 50%;
position: absolute;
text-indent: -9999em;
-webkit-animation: load4 1.3s infinite linear;
animation: load4 1.3s infinite linear;
-webkit-transform: translateZ(0);
-ms-transform: translateZ(0);
transform: translateZ(0);
}
#loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 5% auto;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}