.user-inner-text{
    height: 20%;
}


  .results tr[visible='false'],
  .no-result{
    display:none;
  }

  .results tr[visible='true']{
    display:table-row;
  }

  .counter{
    padding:8px; 
    color:#ccc;
  }
.custom_table {
font-size: 15px;
height: 50%;
overflow-y: scroll;

}
.custom_table::-webkit-scrollbar {
display: none;
} 
.no_found_image{
  width: 300px;
}


/* 
.loader {
  border: 16px solid white;
  border-radius: 50%;
  background-color: blue;
  border-top: 16px solid black;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */