

/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}



:root {
    --accounts-card-bg :#2c7be5;
    --fotter-bg-color:#2c7be5;
    --main-bg-gradient:white ;
    --heading-all-color : #2C7BE5;
    --anchor-tags-color: #2c7be5;

  }

body{

    background-color: var(--main-bg-gradient);
    background-repeat:no-repeat ;
}
a{
    color: var(--anchor-tags-color);
    text-decoration: none;
}
.text-heading{
  color: var(--heading-all-color);
}
a:hover {
    color: var(--heading-all-color);
    text-decoration: none;
    border-bottom: none;
  }
  
  a:not([href]):not([class]) {
    color: inherit;
    text-decoration: none;
  }
  
  a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
  }

  .accounts-card-bg{
    background-color: var(--accounts-card-bg);
  }

  .fotter-bg-color{
    background-color: var(--fotter-bg-color);
  }
  /* .top-bottom-equal{
    margin-top: -10px;
  } */