{% load static %}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    

        <!-- ===============================================-->
        <!--    Document Title-->
        <!-- ===============================================-->
        <title>PreDoc | {{title}}</title>
    
    
        <!-- ===============================================-->
        <!--    Favicons-->
        <!-- ===============================================-->
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicons/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicons/favicon-16x16.png' %}">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicons/favicon.ico' %}">
        <link rel="manifest" href="{% static 'assets/img/favicons/manifest.json' %}">
        <meta name="msapplication-TileImage" content="{% static 'assets/img/favicons/mstile-150x150.png' %}">
        <meta name="theme-color" content="#ffffff">
    
    
        <!-- ===============================================-->
        <!--    Stylesheets-->
        <!-- ===============================================-->
        <script src="{% static 'assets/js/config.navbar-vertical.js' %}"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
        <link href="{% static 'assets/lib/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet">
        <link href="{% static 'assets/lib/owl.carousel/owl.carousel.css' %}" rel="stylesheet">
        <link href="{% static 'assets/css/theme.css' %}" rel="stylesheet">
        
        {% block extra_css %}{% endblock extra_css %}
      
      </head>

<body>

 
     
  {% block content %}
     
  {% endblock content %}



    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/lib/@fortawesome/all.min.js' %}"></script>
    <script src="{% static 'assets/lib/stickyfilljs/stickyfill.min.js' %}"></script>
    <script src="{% static 'assets/lib/sticky-kit/sticky-kit.min.js' %}"></script>
    <script src="{% static 'assets/lib/is_js/is.min.js' %}"></script>
    <script src="{% static 'assets/lib/lodash/lodash.min.js' %}"></script>
    <script src="{% static 'assets/lib/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:100,200,300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <script src="{% static 'assets/lib/owl.carousel/owl.carousel.js' %}"></script>
    <script src="{% static 'assets/lib/typed.js/typed.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>

    {% block extra_javascript %}
    
    {% endblock extra_javascript %}
  
</body>
</html>