{% extends 'landing_base.html' %}
{% load static %}

{% block extra_css %}

<style>
  
</style>

{% endblock extra_css %}


{% block content %}
{% include 'top_nav.html' %}

<section id="contact-contact_us">
  <div class="contact-box">
    <div class="contact-links">
      <h2 class="contact_page_heading">CONTACT</h2>
      <div class="links">
        <div class="link">
          <a><img class="contact-image" src="{% static 'assets/img/icons/linkedin.svg' %}" alt="linkedin"></a>
        </div>
        <div class="link">
          <a><img class="contact-image" src="{% static 'assets/img/icons/twitter.svg' %}" alt="email"></a>
        </div>
      </div>
    </div>
    <div class="contact-form-wrapper">
      <form>
        <div class="form-item contact-form-item">
          <input class="contact-input" type="text" name="sender" required>
          <label class="contact-label">Name:</label>
        </div>
        <div class="form-item contact-form-item">
          <input class="contact-input" type="text" name="email" required>
          <label class="contact-label">Email:</label>
        </div>
        <div class="form-item contact-form-item">
          <select required id="exampleFormControlSelect1">
            <option disabled selected >I am a</option>
            <option>Doctor</option>
            <option>Patient</option>
            <option>Regulator</option>
            <option>Investor</option>
            <option>Something else</option>
          </select>
      
        </div>
        <div class="form-item contact-form-item">
          <textarea class="" name="message" required></textarea>
          <label class="contact-label">Message:</label>
        </div>
        <button class="btn btn-dark submit-btn-contcat">Send</button>  
      </form>
    </div>
  </div>
</section>
{% include 'seconed_fotter.html' %}

  {% endblock content %}