
{% extends 'base.html' %}
{% load static %}

{% block extra_css %}

{% endblock extra_css %}


{% block content %}
{% include 'top_nav.html' %}

<section id="contact">
  <div class="contact-box">
    <div class="contact-links">
      <h2>CONTACT</h2>
      <div class="links">
        <div class="link">
          <!-- <a><img src="{% static 'assets/img/icons/linkedin.png' %}" alt="linkedin"></a> -->
        </div>
        <div class="link">
          <!-- <a><img src="{% static 'assets/img/icons/email.png' %}" alt="email"></a> -->
        </div>
      </div>
    </div>
    <div class="contact-form-wrapper">
      <form>
        <div class="form-item">
          <input type="text" name="sender" required>
          <label>Name:</label>
        </div>
        <div class="form-item">
          <input type="text" name="email" required>
          <label>Email:</label>
        </div>
        <div class="form-item">
          <select required id="exampleFormControlSelect1">
            <option disabled selected >I am a</option>
            <option>Doctor</option>
            <option>Patient</option>
            <option>Regulator</option>
            <option>Investor</option>
            <option>Something else</option>
          </select>
          <!-- <label for="exampleFormControlSelect1">I am a</label> -->
      
        </div>
        <div class="form-item">
          <textarea class="" name="message" required></textarea>
          <label>Message:</label>
        </div>
        <button class="btn btn-dark submit-btn">Send</button>  
      </form>
    </div>
  </div>
</section>
  {% include 'bottom_fotter.html' %}

  {% endblock content %}