{% extends 'base.html' %}

{% load static %}

{% block content %}

   
    <main class="main" id="top">
      <div class="container">
        <!-- Modal POp On Id -->
           <!-- {% for appoinment in appoinments %}
            <div class="modal fade" id="id-{{appoinment.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg modal-dialog-scrollable" id="style-4" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class=" text-heading">
                      <h2 class="text-heading">Current Patient</h2>
                      <h4 class=" mt-4 text-dark">{{ appoinment.patient.first_name }} {{ appoinment.patient.last_name }}</h4>
                      <h4 class="text-dark"> {{ appoinment.patient.dob }}</h4>
                      <h4 class="text-dark">{{ appoinment.patient.age }} Years Old {{appoinment.patient.gender}}</h4> 
                    </div>
                  
                    <div class="mt-4 ">
                          <div class="col col-lg-12 ">
                              <div class="borddder overflow-auto bg-ldight user-inner-text" style="height:40%">
                                <div class="mx-4 p-2">
                                     <p class="h5 text-uppercase"> pc</p>
                                    <p class="h5 text-capitalize my-4">{{ appoinment.qs.syptoms }}</p>
                                   <p class="h5 text-uppercase mt-4">hpc</p>
                                    <p class="h6 my-2" >Sudden onset</p>
                                    <p class="h6 my-2" >" I was at work lifting a Tesla tyre and felt my back go "</p>
                                    <p class="h6 my-2" >left sided.</p>
                                    <p class="h6 my-2" >lumbar</p>
                                    <p class="h6 my-2" >no radiculopathy</p>
                                    <p class="h5 text-uppercase mt-4">Pmh</p>
                                    <p class="h6 my-2" >Lumbar discectomy 2016, Dr. Matt Rackham, Ashford Hospital</p>
                                    <p class="h6 my-2" >Hypertension</p>
                                    <p class="h6 my-2" >Hypercholesterolaemia</p>
                                    <p class="h6 my-2" >Autism Spectrum Disorder</p>
                                    <p class="h5 text-uppercase mt-4">Medications</p>
                                    <p class="h6 my-2" >Perindopril 5mg mane</p>
                                    <p class="h6 my-2" >Rosuvastatin 40mg mane</p> 
                                  </div>
                              </div>
                              <div class="mt-4">
                                <p class="h6">
                                    <span class="text-heading border-bottom border-white">Question and Answere</span> - 
                                    view the original phrasing and answers                                
                                </p>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %} -->
            <!-- Loader -->
            <div id="loading-wrapper">
              <div class="" id="loader"></div>
          </div>
          <div class="container show_able_div hide animate-bottom" id="amaizng" >
              <div class="modal-body">
                <div class=" text-heading">
                  <h2 class="text-heading">Current Patient</h2>
                  <h4 class=" mt-4 text-dark">Lorem Ipsum</h4>
                  <h4 class="text-dark"> 18/7/1995</h4>
                  <h4 class="text-dark">52 Years Old male</h4> 
                </div>
                <div class="mt-4 ">
                      <div class="col col-lg-12 ">
                          <div class="border overflow-auto bg-ldight user-inner-text" style="height:40%">
                            <div class="mx-4 p-2">
                                <p class="h5 text-capitalize my-4">PC</p>
                                <p class="h5 text-uppercase mt-4">hpc</p>
                                <p class="h6 my-2" >Sudden onset</p>
                                <p class="h6 my-2" >" I was at work lifting a Tesla tyre and felt my back go "</p>
                                <p class="h6 my-2" >left sided.</p>
                                <p class="h6 my-2" >lumbar</p>
                                <p class="h6 my-2" >no radiculopathy</p>
                                <p class="h5 text-uppercase mt-4">Pmh</p>
                                <p class="h6 my-2" >Lumbar discectomy 2016, Dr. Matt Rackham, Ashford Hospital</p>
                                <p class="h6 my-2" >Hypertension</p>
                                <p class="h6 my-2" >Hypercholesterolaemia</p>
                                <p class="h6 my-2" >Autism Spectrum Disorder</p>
                                <p class="h5 text-uppercase mt-4">Medications</p>
                                <p class="h6 my-2" >Perindopril 5mg mane</p>
                                <p class="h6 my-2" >Rosuvastatin 40mg mane</p>
                              </div>
                          </div>
                          <div class="mt-4">
                            <p class="h6">
                                <span class="text-heading border-bottom border-white">Question and Answere</span> - 
                                view the original phrasing and answers                                
                            </p>
                          </div>
                      </div>
                  </div>
              </div>
            </div>

          <div class="condition_base_data">

            {% if appoinments %}

            <div class="mb-8">
              <h1 class="m-4 pt-4 h1 text-heading"> All Patient </h1>
              <div class="d-flex justify-content-end my-2">
                <span class="counter pull-right"></span>
                <div class="">
                    <input type="text" id="myInput" class="search form-control"  placeholder="Search By Name">
                  </div>
              </div>
              <div class="table-responsive-sm table-responsive-md  table-responsive-lg  custom_table" >
                <table class="table table-striped results table-dark table-hover"  id="myTable"  >
                      <thead >
                        <tr class="text-center text-headisng font-weight-bold">
                          <th scope="col">Name</th>
                          <th scope="col">DOB</th>
                          <th scope="col">Age</th>
                          <th scope="col">Last Saw Dr</th>
                          <th scope="col">Last See Dr</th>
                          <th scope="col">Last Answere</th>
                        </tr>
                      </thead>
                      {% for appoinment in appoinments %}
                      <tbody>
                        <tr class="text-center text-heading show_div">
                          <th scope="row" onclick="loadingPage()" id="identify" class="cursor-pointer button_show_div" data-target="#id-{{appoinment.id}}">
                            <!-- <a data-toggle="modal" data-target="#id-{{appoinment.id}}" aria-controls="{{appoinment.id}}">{{ appoinment.patient.first_name }}</a> -->
                            {{ appoinment.patient.first_name }}
                          </th>
                          <td>{{appoinment.patient.dob}}</td>
                          <td>{{appoinment.patient.age}}</td>
                          <td>{{appoinment.doctor.first_name}}</td>
                          <td>{{appoinment.doctor.first_name}}</td>
                          <td>{{appoinment.date}} </td>
                        </tr>

                      </tbody>
                      {% endfor %}
                </table>
              </div>


              <div class="d-flex justify-content-end">
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item  active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            {% else %}
              <div class="row justify-content-center text-center my-4" >
                <div class="col-lg-4 col-sm-12 my-4">
                  <!-- Data Not Found Image -->
                  <img class="no_found_image" src="{% static 'assets/img/generic/nofound.svg' %}" alt="">
                  <h5 class="text-secondary my-2"> No Data Found</h5>
                </div>
              </div>
            {% endif %}
          </div>
          <!-- Loading Modal -->
         <div class="modal  arrow-top fade right" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog left-modal" role="document">
            <div class="modal-content chat" >
              
              <div class="modal-body">
                <h5 class="my-4 mx-2">Have you read and do you agree to our <a href="{% url 'terms_condition' %}">Terms and Condition</a> and <a href="{% url 'privacy_policy' %}">Privacy Policy</a>?</h5>
              </div>
              <div class="modal-footer">
                <a href="{% url 'disagree' %}"><button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">No I Don't Agree</button></a>
                <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal">Yes I Agree</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </main>
    {% include 'seconed_fotter.html' %}

{% endblock content %}

