{% extends 'base.html' %}

{% load static %}

{% block content %}

                        
    <main class="main" id="top">

          <div class="text-left mt-4">
         
        
            {% for appoinment in appoinments %}
            <div class="modal fade" id="id-{{appoinment.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg modal-dialog-scrollable" id="style-4" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class=" text-heading">
                      <h2 class="text-heading">Current Patient</h2>
                      <h4 class=" mt-4 text-dark">{{ appoinment.patient.first_name }} {{ appoinment.patient.last_name }}</h4>
                      <h4 class="text-dark"> {{ appoinment.patient.dob }}</h4>
                      <h4 class="text-dark">{{ appoinment.patient.age }} Years Old {{appoinment.patient.gender}}</h4> 
                    </div>
                  
                    <div class="mt-4 ">
                          <div class="col col-lg-12 ">
                              <div class="borddder overflow-auto bg-ldight user-inner-text" style="height:40%">
                                <div class="mx-4 p-2">
                                    <!-- <p class="h5 text-uppercase"> pc</p> -->
                                    <p class="h5 text-capitalize my-4">{{ appoinment.qs.syptoms }}</p>
                                    <!-- <p class="h5 text-uppercase mt-4">hpc</p>
                                    <p class="h6 my-2" >Sudden onset</p>
                                    <p class="h6 my-2" >" I was at work lifting a Tesla tyre and felt my back go "</p>
                                    <p class="h6 my-2" >left sided.</p>
                                    <p class="h6 my-2" >lumbar</p>
                                    <p class="h6 my-2" >no radiculopathy</p>
                                    <p class="h5 text-uppercase mt-4">Pmh</p>
                                    <p class="h6 my-2" >Lumbar discectomy 2016, Dr. Matt Rackham, Ashford Hospital</p>
                                    <p class="h6 my-2" >Hypertension</p>
                                    <p class="h6 my-2" >Hypercholesterolaemia</p>
                                    <p class="h6 my-2" >Autism Spectrum Disorder</p>
                                    <p class="h5 text-uppercase mt-4">Medications</p>
                                    <p class="h6 my-2" >Perindopril 5mg mane</p>
                                    <p class="h6 my-2" >Rosuvastatin 40mg mane</p> -->
                                  </div>
                              </div>
                              <div class="mt-4">
                                <p class="h6">
                                    <span class="text-heading border-bottom border-white">Question and Answere</span> - 
                                    view the original phrasing and answers                                
                                </p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
<!-- every thing is working good by givid data with id -->
            {% for appoinment in appoinments %}
            <div class="container show_able_div " id="id-{{appoinment.id}}" style="display:block ;" >
              <div class="modal-body">
                <div class=" text-heading">
                  <h2 class="text-heading">Current Patient</h2>
                  <h4 class=" mt-4 text-dark">{{ appoinment.patient.first_name }} {{ appoinment.patient.last_name }}</h4>
                  <h4 class="text-dark"> 18/7/1995</h4>
                  <h4 class="text-dark">52 Years Old male</h4> 
                </div>
              
                <div class="mt-4 ">
                      <div class="col col-lg-12 ">
                          <div class="border overflow-auto bg-ldight user-inner-text" style="height:40%">
                            <div class="mx-4 p-2">
                                <p class="h5 text-capitalize my-4">PC</p>
                                <p class="h5 text-uppercase mt-4">hpc</p>
                                <p class="h6 my-2" >Sudden onset</p>
                                <p class="h6 my-2" >" I was at work lifting a Tesla tyre and felt my back go "</p>
                                <p class="h6 my-2" >left sided.</p>
                                <p class="h6 my-2" >lumbar</p>
                                <p class="h6 my-2" >no radiculopathy</p>
                                <p class="h5 text-uppercase mt-4">Pmh</p>
                                <p class="h6 my-2" >Lumbar discectomy 2016, Dr. Matt Rackham, Ashford Hospital</p>
                                <p class="h6 my-2" >Hypertension</p>
                                <p class="h6 my-2" >Hypercholesterolaemia</p>
                                <p class="h6 my-2" >Autism Spectrum Disorder</p>
                                <p class="h5 text-uppercase mt-4">Medications</p>
                                <p class="h6 my-2" >Perindopril 5mg mane</p>
                                <p class="h6 my-2" >Rosuvastatin 40mg mane</p>
                              </div>
                          </div>
                          <div class="mt-4">
                            <p class="h6">
                                <span class="text-heading border-bottom border-white">Question and Answere</span> - 
                                view the original phrasing and answers                                
                            </p>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
            {% endfor %}

            <div class="mb-8">
              <h1 class="m-4 pt-4 h1 text-heading"> All Patient </h1>
              <div class="d-flex justify-content-end my-2">
                <span class="counter pull-right"></span>
                <div class="">
                    <input type="text" id="myInput" class="search form-control"  placeholder="Search By Name">
                  </div>
              </div>
              <div class="table-responsive-sm table-responsive-md  table-responsive-lg  custom_table" >
                      
                <table class="table table-striped results  table-dark table-hover"  id="myTable"  >
                      <thead >
                        <tr class="text-center text-heading font-weight-bold">
                          <th scope="col">Name</th>
                          <th scope="col">DOB</th>
                          <th scope="col">Age</th>
                          <th scope="col">Last Saw Dr</th>
                          <th scope="col">Last See Dr</th>
                          <th scope="col">Last Answere</th>
                        </tr>
  
                      </thead>
                      
                      {% for appoinment in appoinments %}
                      <tbody>
                        <tr class="text-center text-heading show_div">
                          <th scope="row" class="cursor-pointer button_show_div" data-target="#id-{{appoinment.id}}">
                            <!-- <a data-toggle="modal" data-target="#id-{{appoinment.id}}" aria-controls="{{appoinment.id}}">{{ appoinment.patient.first_name }}</a> -->
                            {{ appoinment.patient.first_name }}
                          </th>
                          <td>{{appoinment.patient.dob}}</td>
                          <td>{{appoinment.patient.age}}</td>
                          <td>{{appoinment.doctor.first_name}}</td>
                          <td>{{appoinment.doctor.first_name}}</td>
                          <td>{{appoinment.date}} </td>
                        </tr>
                        
                      </tbody>
                      {% endfor %}
                </table>
                
              </div>
              <div class="d-flex justify-content-end">
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item  active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>



          <!-- Modal -->
           

          </div>
          {% include 'seconed_fotter.html' %}
    </main>

{% endblock content %}

{% block extra_javascript %}
<script>
    $(document).ready(function() {
  $(".search").keyup(function () {
    var searchTerm = $(".search").val();
    var listItem = $('.results tbody').children('tr');
    var searchSplit = searchTerm.replace(/ /g, "'):containsi('")
    
  $.extend($.expr[':'], {'containsi': function(elem, i, match, array){
        return (elem.textContent || elem.innerText || '').toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
    }
  });
    
  $(".results tbody tr").not(":containsi('" + searchSplit + "')").each(function(e){
    $(this).attr('visible','false');
  });

  $(".results tbody tr:containsi('" + searchSplit + "')").each(function(e){
    $(this).attr('visible','true');
  });

  var jobCount = $('.results tbody tr[visible="true"]').length;
    $('.counter').text(jobCount + ' item');

  if(jobCount == '0') {$('.no-result').show();}
    else {$('.no-result').hide();}
		  });
});
</script>

<script>
  $(document).ready( function () {
  $('#myTable').DataTable();
} );
  </script>

  

<script>
  let name = document.getElementById
</script>


<script>
  var elements = document.querySelectorAll('.show_div')
  for (let element of elements ){
    let expandbtn = element.querySelector('.button_show_div')
    expandbtn.addEventListener('click', (e) =>{
      console.log(expandbtn,"Its clicked")
      let x = document.querySelector(".show_able_div")
      console.log(x,'itsa a containr')
      if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
    }) 
  }
</script>

<!-- 
<script>
  function myFunction() {
    var x = document.getElementById("myDIV");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
  </script> -->
  
  
{% endblock extra_javascript %}