
<section class="fotter-bg-color pt-8 pb-4">

    <div class="container">
      <div class="position-absolute fotter-bg-color btn-back-to-top"><a class="text-600 text-white" href="#banner" data-fancyscroll="data-fancyscroll"><span class="fas fa-chevron-up" data-fa-transform="rotate-45"></span></a></div>
      <div class="row text-center ">
        <div class="col">
          <h3 class="text-uppercase text-white opacity-1 mb-3">Our Mission</h3>
          <p class="text-700 text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt quidem vitae voluptas ullam quia rem. Deleniti dicta iusto autem sapiente inventore, consequuntur, facere perspiciatis voluptatibus adipisci cupiditate accusamus id fuga molestias illo praesentium earum </p>
          <div class="icon-group mt-4 justify-content-center">
            <a class="icon-item bg-white contact-image text-twitter  mx-1" href="#!"><span class="fab fa-twitter"></span></a></span></a>
            <a class="icon-item bg-white contact-image text-linkedin mx-1" href="#!"><span class="fab fa-linkedin-in"></span></a>
          </div>
        </div>
      </div>
    </div>
</section>
    
    