

      <!-- ============================================-->
      <!-- <section> begin ============================-->
        <section class="bg-dark pt-8 pb-4">

            <div class="container">
              <div class="position-absolute btn-back-to-top bg-dark"><a class="text-600" href="#banner" data-fancyscroll="data-fancyscroll"><span class="fas fa-chevron-up" data-fa-transform="rotate-45"></span></a></div>
              <div class="row text-center">
                <div class="col">
                  <h5 class="text-uppercase text-white opacity-85 mb-3">Our Mission</h5>
                  <p class="text-600">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt quidem vitae voluptas ullam quia rem. Deleniti dicta iusto autem sapiente inventore, consequuntur, facere perspiciatis voluptatibus adipisci cupiditate accusamus id fuga molestias illo praesentium earum </p>
                  <div class="icon-group mt-4 justify-content-center"><a class="icon-item bg-white text-twitter" href="#!"><span class="fab fa-twitter"></span></a></span></a><a class="icon-item bg-white text-linkedin" href="#!"><span class="fab fa-linkedin-in"></span></a></div>
                </div>
                <!-- <div class="col pl-lg-6 pl-xl-8">
                  <div class="row mt-5 mt-lg-0">
                    <div class="col-6 col-md-3">
                      <h5 class="text-uppercase text-white opacity-85 mb-3">Company</h5>
                      <ul class="list-unstyled">
                        <li class="mb-1"><a class="text-600" href="#!">About</a></li>
                        <li class="mb-1"><a class="text-600" href="#!">Terms</a></li>
                        <li class="mb-1"><a class="text-600" href="#!">Privacy</a></li>
                       
                      </ul>
                    </div>
                    <div class="col-6 col-md-3">
                      <h5 class="text-uppercase text-white opacity-85 mb-3">Product</h5>
                      <ul class="list-unstyled">
                        <li class="mb-1"><a class="text-600" href="#!">Features</a></li>
                        <li class="mb-1"><a class="text-600" href="#!">Roadmap</a></li>
                       
                      </ul>
                    </div>
                    <div class="col mt-5 mt-md-0">
                      <h5 class="text-uppercase text-white opacity-85 mb-3">From the Blog</h5>
                      <ul class="list-unstyled">
                        <li>
                          <h5 class="fs-0 mb-0"><a class="text-600" href="#!">New components are ready to publish!</a></h5>
                          <p class="text-600 opacity-50">Jan 15 &bull; 8min read </p>
                        </li>
                      
                       
                      </ul>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
            <!-- end of .container-->
    
          </section>
          <!-- <section> close ============================-->
          <!-- ============================================-->
    
    
    
    