{% extends 'landing_base.html' %}
{% load static %}

{% block content %}
<main class="main">
    {% include 'top_nav.html' %}

    <div class="container">
        <div class="mt-8 mb-4">
            <div class="text-center">
                <p class="display-2  text-heading">Privacy Policy</p>
            </div>
            <div class=" col-lg-8 col-sm-12 m-4">
                
                <h3 class=" text-heading">Definition</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Nulla, sit. Consequuntur quaerat dolorem consectetur 
                        laborum earum! Blanditiis ipsa quisquam et praesentium 
                        omnis delectus nemo ipsum, a sed at repudiandae 
                        nesciunt?</p>
                <h3 class=" text-heading">Term 1</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Nulla, sit. Consequuntur quaerat dolorem consectetur 
                        laborum earum! Blanditiis ipsa quisquam et praesentium
                        omnis delectus nemo ipsum, a sed at repudiandae 
                        nesciunt?</p>
                <h3 class=" text-heading">Term 2</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Nulla, sit. Consequuntur quaerat dolorem consectetur 
                        laborum earum! Blanditiis ipsa quisquam et praesentium 
                        omnis delectus nemo ipsum, a sed at repudiandae 
                        nesciunt?</p>
                <h3 class=" text-heading">Condition 1</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Nulla, sit. Consequuntur quaerat dolorem consectetur 
                    laborum earum! Blanditiis ipsa quisquam et praesentium 
                    omnis delectus nemo ipsum, a sed at repudiandae nesciunt?
                </p>
                <h3 class=" text-heading">Condition 2</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Nulla, sit. Consequuntur quaerat dolorem consectetur 
                    laborum earum! Blanditiis ipsa quisquam et praesentium 
                    omnis delectus nemo ipsum, a sed at repudiandae nesciunt?
                </p>
            </div>
        </div>
    </div>
    {% include 'seconed_fotter.html' %}
</main>

{% endblock content %}
