
{% load static %}

    <nav class="navbar navbar-standard navbar-expand-lg fixed-top navbar-dark accounts-card-bg navbar-themde">
        <div class="container"><a class="navbar-brand" href="{% url 'landing' %}"><span class="text-white">PreDoc</span></a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarStandard" aria-controls="navbarStandard" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse scrollbar perfect-scrollbar" id="navbarStandard">
            <ul class="navbar-nav">
            <li class="nav-item  text-white"><a class="nav-link text-white"href="{% url 'landing' %}" role="button" >Home</a></li>
            <li class="nav-item  text-white"><a class="nav-link text-white" href="{% url 'dashboard' %}" role="button">Members</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
            
            {% if request.user.is_authenticated %}
            <li class="nav-item text-white"><a class="nav-link text-white" href="{% url 'logout' %}" role="button">Logout</a></li>
                

            {% else %}
            <li class="nav-item text-white"><a class="nav-link text-white" href="{% url 'login' %}" role="button">LogIn</a></li>
            <li class="nav-item text-white"><a class="nav-link text-white" href="{% url 'sign_up' %}" role="button">SignUp</a></li>
            {% endif %}    
        </ul>
        </div>
        </div>
    </nav>
