{% load static %}
{% block sidebar %}   

<nav class="navbar navbar-vertical navbar-expand-xl navbar-light navbar-card">
    <div class="d-flex align-items-center">
      <div class="toggle-icon-wrapper">

        <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-toggle="tooltip" data-placement="left"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>

      </div>
      <a class="navbar-brand" href="{% url 'landing' %}">
        <div class="d-flex text-center align-items-center py-3">
            <span class="text-sans-serif">PreDoc</span>
        </div>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
      <div class="navbar-vertical-content perfect-scrollbar scrollbar">
        <ul class="navbar-nav flex-column">
            <li class="nav-item"><a class="nav-link" href="{% url 'dashboard' %}">
                <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-chart-pie"></span></span></span><span class="nav-link-text"> Home</span>
                </div>
              </a>
          </li>


          <li class="nav-item">
            <a class="nav-link dropdown-indicator" href="#pages" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="pages">
              <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-copy"></span></span><span class="nav-link-text">Start Here</span>
              </div>
            </a>
            <ul class="nav collapse" id="pages" data-parent="#navbarVerticalCollapse">
              <li class="nav-item"><a class="nav-link" href="{% url 'start_here' %}">Working Room Side</a>
              </li>
              <li class="nav-item"><a class="nav-link" href="#">QR Code only </a>
              </li>
              
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link dropdown-indicator" href="#about" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="pages">
              <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fa fa-list"></span></span><span class="nav-link-text">About</span>
              </div>
            </a>
            <ul class="nav collapse" id="about" data-parent="#navbarVerticalCollapse">
              <li class="nav-item"><a class="nav-link" href="{% url 'about_us' %}">How It Works</a>
              </li>
              <li class="nav-item"><a class="nav-link" href="{% url 'about_us' %}#faqs">FAQs </a>
              </li>
              <li class="nav-item"><a class="nav-link" href="{% url 'about_us' %}#security">Security and Privacy </a>
              </li>
              <li class="nav-item"><a class="nav-link" href="{% url 'about_us' %}#compliance">Compliances</a>
              </li>
              <li class="nav-item"><a class="nav-link" href="{% url 'about_us' %}#team">Team</a>
              </li>
              
            </ul>
          </li>

          
        </ul>
        <div class="navbar-vertical-divider">
          <hr class="navbar-vertical-hr my-2" />
        </div>
        
      </div>
    </div>
  </nav>

  {% endblock sidebar %}